@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-spectre-black text-white;
  }
  
  ::selection {
    @apply bg-spectre-cyan text-black;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
