@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#050505] text-white;
  }

  ::selection {
    @apply bg-spectre-cyan text-black;
  }
}

@layer components {
  .ghost-flex-center {
    @apply flex items-center justify-center;
  }

  .ghost-container {
    @apply max-w-7xl mx-auto px-6 md:px-12 w-full;
  }

  .ghost-text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-500;
  }
}

@layer utilities {

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #050505;
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}